<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobit.mobit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobit">
        <service
            android:name=".service.UpbitAPIService"
            android:enabled="true"
            android:exported="true" />


        <activity
            android:name=".ui.PopupMainIndicatorSettingActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ui.PopupChartResetConfirmActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".ui.MainIndicatorSettingActivity" />
        <activity
            android:name=".ui.PopupResetConfirmActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".ui.FirstSettingActivity" />
        <activity
            android:name=".ui.PopupBuySellActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>